.ab-card-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.title-section {
  display:flex;
  padding-top: 10px;;
  flex-flow:column;
  align-content:center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  
}

.title-section > .active-board-name {
  font-size: 60px;
  color:#D7DEDC;
  margin-bottom:5px;
}

.title-section > .active-board-author {
  font-size: 40px;
  color: pink;
  margin-top:5px;
}

h2{
  font-size:15px;
}


.active-board-container{
  background-color:#563440;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.button-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left:5px;
  margin-right: 5px;
  margin-top:5px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  align-content: end;
}

.button-container button {
  margin-left: 5px;
  margin-right: 5px;
}

ul {
  padding-left: 20px;
  padding-right: 20px;
}