.board-list-component{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px; 
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 25px;
}
.board-list-title{
  display:flex;
  flex-direction: column;
  color: #f4fcfa;
  font-size: 50px;
}

.board-list-index {
  color:#f4fcfa;
  font-size: 25px;
}

.board-list {
  display: flex; 
  flex-direction: column;
  border-radius: 25px;
}

li {
  list-style: none;
}

.board-list-index {
  display: grid; 
  grid-template-columns: 50% 50%;
}

.create-board-button {
  font-size: 25px;
  color:#f4fcfa; 
  background-color: #403942;

}