.board-list-component{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px; 
  padding-top: 40px;
  padding-bottom: 40px;
}
.board-list-title{
  display:flex;
  flex-direction: column;
}



.board-list {
  display: flex; 
  flex-direction: column;
}

li {
  list-style: none;
}

.board-list-index {
  display: grid; 
  grid-template-columns: 50% 50%;
}

