.form-container {
  display: grid; 
  grid-template-columns: 50% 50%;
  justify-items: left;
  color:aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size:medium;
  background-color:#563440;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.form-container label {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.form-container input {
  background-color: #9A879D;
  width: 30pc;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  font-size:25px;
  color: white;
}

.create-board-submit-button {
  font-size: 25px;
  color:#563440;
  border-radius: 25px;
}

.create-board-exit-button {
  background-color:#403942;
  color:#f4fcfa;
  border-radius: 25px;
  width: 50px;

  font-size: 25px;

}