.card-buttons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 15px;
  align-content: end;
  justify-items: center;
}

.card-info-container{
  display: grid; 
  grid-template-rows: auto auto;
  background-color:#cab4ce;
  width: auto;
  height: 200px;
  text-align: center;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  border: 1px solid #403942;
  border-radius: 25px;
  justify-items:center;
} 


.card-buttons button{
  font-size:medium;
  width: 100px;
  border-radius: 25px;
  color:#f4fcfa; 
  background-color: #403942;
}


.card-owner {
  font-style: italic;
  font-size: medium;
}

.card-message {
  font-size:large;
}

.card-like-counts {
  margin-top: 35px;
  font-style:italic;
  color: #7A3B69
}