.card-buttons {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left:5px;
  margin-right: 5px;
  margin-top:5px;
  margin-bottom: 5px;
  align-content: end;
}

.card-info-container{
  display: grid; 
  grid-template-rows: auto auto;
  background-color:lightsteelblue;
  width: auto;
  height: 200px;
  text-align: center;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  border: 1px solid gray;
} 


.card-buttons button{
  margin-left: 5px;
  margin-right: 5px;
}



.card-owner {
  font-style: italic;
}
