
.card-buttons > {
  display: grid;
  grid-template-columns: auto auto auto;
}

.card-container{
  display: grid; 
  grid-template-rows: auto auto;
  background-color:lightsteelblue;
  width: 300px;
  height: 300px;
  padding: 20px; 
  text-align: center;
  border: 1px solid gray;
  justify-items: space-evenly;
  gap: column-gap 10px;
}

.card-content{
  padding-top:15px;
}

.card-buttons{
  align-content: end;
}

